services:
  leader:
    build: .
    container_name: leader
    environment:
      ROLE: "leader"
      PORT: "8081"
      FOLLOWER_URLS: "http://follower1:8081,http://follower2:8081,http://follower3:8081,http://follower4:8081,http://follower5:8081"
      WRITE_QUORUM: "5"
      # simulate network lag
      MIN_DELAY_MS: "0.1"
      MAX_DELAY_MS: "1.0"
    ports:
      - "8081:8081"  # changed host port from 8081 to 8081 to avoid conflict on host
    depends_on:
      - follower1
      - follower2
      - follower3
      - follower4
      - follower5

  follower1:
    build: .
    container_name: follower1
    environment:
      ROLE: "follower"
      PORT: "8081"
    expose:
      - "8081"

  follower2:
    build: .
    container_name: follower2
    environment:
      ROLE: "follower"
      PORT: "8081"
    expose:
      - "8081"

  follower3:
    build: .
    container_name: follower3
    environment:
      ROLE: "follower"
      PORT: "8081"
    expose:
      - "8081"

  follower4:
    build: .
    container_name: follower4
    environment:
      ROLE: "follower"
      PORT: "8081"
    expose:
      - "8081"

  follower5:
    build: .
    container_name: follower5
    environment:
      ROLE: "follower"
      PORT: "8081"
    expose:
      - "8081"
